<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections></configSections>
    <connectionStrings>
        <add name="Xplorium.Models.Properties.Settings.Xplorium__Stable_ConnectionString"
             connectionString="Data Source=NETGUYPC;Initial Catalog=&quot;Xplorium (Stable)&quot;;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>