﻿div.zone-container
{
    display: inherit;
    text-align: center;
}
div.zone-container a
{
    display: inline-block;
    padding: 5px;
    font-size: 14px;
}
div.zone-container a:hover
{
    background-color: #F0F0F0;
}
div.zone-container a:focus
{
    background-color: #E9E9E9;
}
div.zone-container a.active
{
    font-weight: bold;
}