*
{
    font-family: calibri;
    font-size: 12px;
    color: #333333;
    border-style: none;
    padding: 0px;
    margin: 0px;
}
html, body.xplorium
{
    height: 100%;
}
body.xplorium
{
    background-color: #e4e4e4;
    min-height: 500px;
    min-width: 800px;
}
span.activity-indicator
{
    display: none;
    background: url(/statics/images/xplorium/activity-indicator.gif) no-repeat left 10px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    visibility: hidden;
}
span.inline-activity-indicator
{
    margin: 4px 10px -4px -27px;
    display: inline-block;
    background: url(/statics/images/xplorium/activity-indicator.gif) no-repeat center center;
    font-weight: bold;
    font-size: 14px;
    width: 16px;
    height: 16px;
    visibility: hidden;
}
body.xplorium div.wrapper
{
    background-position: top;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -72px;
    position: relative;
    background-image: url(/statics/images/front-end/xplorium/public/background.gif);
    background-repeat: repeat-x;
    background-color: #bfd8e7;
}
body.xplorium div.wrapper div.area
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.center
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
p
{
    line-height: 15px;
}
.block
{
    display: block !important;
}
.none
{
    display: none !important;
}
a
{
    text-decoration: none;
    color: #004bd8;
}
a:hover
{
    text-decoration: underline;
}
*:focus
{
    outline: 0;
}
ul
{
    margin: 10px;
    display: block;
}
li
{
    display: block;
    list-style-type: square;
}
strong
{
    font-weight: bold;
    display: inline !important;
    color: inherit;
    font-size: inherit;
}
.clear-fix
{
    clear: both;
    position: relative;
    width: 100%;
}
div.absolute-position
{
    position: absolute;
}

div#header
{
    margin-bottom: 20px;
    opacity: 0;
    text-align: center;
    display: block;
    clear: both;
    min-height: 100%;
}

div#footer
{
    margin-top: 25px;
    opacity: 0;
    text-align: center;
    height: 14px;
    display: block;
    position: relative;
    background-color: #dadada;
    background-position: top;
    background-color: #dadada;
    padding: 18px 15px 15px 15px;
    background-image: url(/statics/images/xplorium/horizontal-line-break.gif);
    background-repeat: repeat-x;
}
div.push
{
    margin-top: 25px;
    height: 47px;
}

div#footer div.quicks
{
    display: block;
}

div#footer div.quicks a
{
    background-position: right;
    color: #0088cc;
    padding-right: 13px;
    margin-right: 10px;
    background-image: url(/statics/images/xplorium/vertical-line-break.gif);
    background-repeat: repeat-y;
}

div#footer div.quicks a:last-child
{
    padding-right: 0px;
    margin-right: 0px;
    background-image: none;
}
div#footer div.right
{
    float: right;
}
div#footer div.left
{
    float: left;
}

div.quicks
{
    display: block;
}

div.quicks div.quicks-content
{
    background-position: bottom;
}

div.quicks div.quicks-content div.left, div.quicks div.quicks-content div.right
{
    background-image: url(/statics/images/xplorium/bar.png);
    display: inline-block;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-bottom: 15px;
}
div.quicks div.quicks-content div.left
{
    background-position: right center;
    float: left;
    padding-right: 15px;
    padding-left: 10px;
}

div.quicks div.quicks-content div.right
{
    background-position: left center;
    float: right;
    padding-right: 10px;
    padding-left: 15px;
}
div.quicks div.quicks-content div.left a, div.quicks div.quicks-content div.left span, div.quicks div.quicks-content div.right a, div.quicks div.quicks-content div.right span
{
    background-position: right;
    padding-right: 13px;
    margin-right: 10px;
    background-image: url(/statics/images/xplorium/vertical-line-break-orange.gif);
    background-repeat: repeat-y;
    font-weight: bold;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px #883d13;
}

div.quicks div.quicks-content div.left span, div.quicks div.quicks-content div.right span
{
    display: inline-block;
    padding-right: 0px;
    background-image: none;
    margin-right: 10px;
}

div.quicks div.quicks-content div.left a:last-child, div.quicks div.quicks-content div.right a:last-child
{
    padding-right: 0px;
    margin-right: 0px;
    background-image: none;
}



.vertical-line-break
{
    background-image: url(/statics/images/xplorium/vertical-line-break.gif);
    background-repeat: repeat-y;
}

input[type="text"]
{
    -moz-border-radius: 4px 4px 4px 4px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9FBBCD;
    color: #333333;
    margin: 0;
    padding: 5px;
}

#search-container
{
    margin: 0px auto 0px auto;
    display: block;
    width: 575px;
}
#search-container .header
{
    background-position: center bottom;
    background-image: url(/Statics/Images/Front-End/Xplorium/Box/Header.gif);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    padding-top: 100px;
}
#search-container .header h2
{
    background-position: center top;
    background-image: url(/Statics/Images/Front-End/Xplorium/Search/Web/Logo.jpg);
    background-repeat: no-repeat;
    display: block;
    height: 75px;
    text-indent: -9999px;
}
#search-container .header h3
{
    color: #777777;
    font-size: 12px;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
}
#search-container .search-form
{
    padding: 0;
}
#search-container .search-form .content
{
    background-image: url(/Statics/Images/Front-End/Xplorium/Box/Content.png);
    background-repeat: repeat-y;
    background-color: transparent;
    background-position: left top;
    display: block;
    padding: 15px;
}
#search-container .search-form .content .box
{
    background-color: #e2f0f9;
    padding: 20px;
    text-align: left;
    -moz-border-radius: 5px;
}
#search-container .search-form .content .box dl
{
    color: #000000;
    font-size: 11px;
    line-height: 100%;
}
#search-container .search-form .content .box dl dt
{
    float: left;
    margin: 0;
    padding: 15px 10px 0 0;
    text-align: right;
    width: 130px;
}
#search-container .search-form .content .box dl dd
{
    float: right;
    width: 355px;
    -moz-border-radius: 5px 5px 5px 5px;
    display: block;
    margin: 0 0 15px;
    padding: 5px;
    background-color: #D0E5F2;
}
#search-container .search-form .content .box dl dd.last-child
{
    margin: 0 0 0px 0;
}
#search-container .search-form .content .box dl dd input
{
    letter-spacing: -1px;
    vertical-align: bottom;
    width: 343px;
    font-size: 18px;
    font-weight: bold;
}
#search-container .search-form .footer
{
    background-position: 0px 0px;
    background-image: url(/Statics/Images/Front-End/Xplorium/Box/Footer.png);
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    height: 75px;
    text-align: right;
}
#search-container .search-form .footer span
{
    float: left;
    font-size: 11px;
    margin: 25px 0 0 15px;
}
#search-container .search-form .footer span a
{
    background-position: left 6px;
    background-image: url(/Statics/Images/Front-End/Xplorium/Public/Arrow.gif);
    background-color: transparent;
    border: 0 none;
    color: #999999;
    padding: 2px 0 2px 8px;
    background-repeat: no-repeat;
}
#search-container .search-form .footer .search
{
    background-image: url(/Statics/Images/Front-End/Xplorium/Search/Web/Button.gif);
    bottom: 25px;
    margin: 0;
    position: absolute;
    right: 15px;
    width: auto;
    z-index: 100;
}